@{
    ViewData["Title"] = "Home Page";
}
@using PagedList;
@using WikiCore.Lib.DTO;
@using WikiCore.Lib.Utilities;
@model IPagedList<WikiPageDTO>;


<h1> Wiki Page</h1>
<style>
    .list-group-item {
        cursor: pointer;
    }

        .list-group-item:hover {
            cursor: pointer;
            z-index: 2;
            color: #fff;
            background-color: #3495f3;
            border-color: #3495f3;
        }
</style>

<div class="panel panel-default">
    <div class="panel-body">
        <form asp-controller="Wiki" asp-action="Save" method="post">
            <div class="form-group row">
                <label for="Title" class="col-sm-2 col-form-label">New Page</label>
                <div class="col-sm-8">
                    <input placeholder="Enter title..gffg." class="form-control newtitle" id="Title" />
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" onclick="gotoEdit();">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div id="pages">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input  placeholder="Search" class="form-control search" />
                    </div>
                    </div>
</form>
                <ul class="list list-group">
                    @foreach (var item in Model)
                    {
                        <li data-slug="@item.Slug" onclick="gotoView(this);" class="list-group-item">
                            <h3 class="title">@item.Title</h3>
                            <p class="body">@Html.Raw(MarkdownHelper.StripHTML(item.BodyHtml.Substring(0, 30)))</p>

                        </li>
                    }
                </ul>
            </div>
        </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>

    function gotoEdit() {
        var newtitle = $(".newtitle").val;
        var url = document.location + "/" + newtitle + "/edit";
        document.location.href = url;
    }

    function gotoView(element) {
        var slug = $(element).data("slug");
        var url = (document.location.href + "/wiki/" + slug);
        document.location.href = url;
    }

    var options = {
        valueNames: ['title', 'body']
    };

    var userList = new List('pages', options);
</script>


