@model WikiPageModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewData["Title"] = "Wiki View";
}




<div class="jumbotron jumbotron-fluid">

    <h1 class="display-4"> @Model.WikiPage.Title</h1>
    <p><a href="@Model.EditUrl">Edit</a></p>
    <hr class="my-4">
    <p>
        @Html.Raw(@Model.WikiPage.BodyHtml)
    </p>
</div>

